* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #000;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: #fff;
    padding: 10px;
}

p {
    background: black;
    padding: 10px;
    text-transform: capitalize;
    font-size: 18px;
    margin-bottom: 10px;
}

#connect4 {
    margin: auto;
    display: inline-block;
    background-color: chartreuse;
}

#connect4 .col {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background-color: cornsilk;
    display: inline-block;
    margin: 5px;
    cursor: pointer;
}

#connect4 .row {
    height: 60px;
}

#connect4 .hover-red,
#connect4 .red {
    background-color: #da8557;
}

#connect4 .hover-blue,
#connect4 .blue {
    background-color: #27729a;
}